<section class="cd-hero">
    <ul class="cd-hero-slider">
        <li class="selected">
            <div class="cd-half-width">
                <h2 class="thin">Your style, your shape</h2>
                <p class="light">Different shapes for your own style, round or squared</p>
                <a href="@Url.Action("Index","Watch")" class="btn btn-flat btn-large pink darken-2 white-text waves-effect waves-light">View Models</a>
            </div> <!-- .cd-half-width -->
            <div class="cd-half-width cd-img-container">
                <img src="~/Content/Images/Slider/slider_01.png" alt="tech 1">
            </div> <!-- .cd-half-width.cd-img-container -->
        </li>
        <li>
            <div class="cd-half-width">
                <h2>Make your watch unique</h2>
                <p>Hand made leather band and boxes to make your watch unique</p>
                <a href="#" class="btn btn-flat btn-large pink darken-2 white-text waves-effect waves-light">View Accessories</a>
            </div> <!-- .cd-half-width -->
            <div class="cd-half-width cd-img-container">
                <img src="~/Content/Images/Slider/slider_02.png" alt="tech 1">
            </div> <!-- .cd-half-width.cd-img-container -->
        </li>
        <li>
            <div class="cd-half-width">
                <h2>Oxy OS&trade;</h2>
                <p>An innovative mobile Operating System for SmartWatch and SmartPhone</p>
                <a href="#" class="btn btn-flat btn-large pink darken-2 white-text waves-effect waves-light">View Demo</a>
            </div> <!-- .cd-half-width -->
            <div class="cd-half-width cd-img-container">
                <img src="~/Content/Images/Slider/slider_03.png" alt="tech 2">
            </div> <!-- .cd-half-width.cd-img-container -->
        </li>
        <li class="cd-bg-video">
            <div class="cd-full-width">
                <h2>Development</h2>
                <p>Development made easy with our partners JetBrains&trade; &amp; Genymotion&trade;.</p>
                <a href="#0" class="btn btn-flat btn-large pink darken-2 white-text waves-effect waves-light">Learn more</a>
            </div> <!-- .cd-full-width -->
        </li>
        <li>
            <div class="cd-half-width">
                <h2>A rich Marketplace</h2>
                <p>An emerging new Apps MarketPlace based on Google&trade; Material Design.</p>
                <a href="#0" class="btn btn-flat btn-large pink darken-2 white-text waves-effect waves-light">Start</a>
                <a href="#0" class="btn btn-flat btn-large grey darken-2 white-text waves-effect waves-light">Learn More</a>
            </div> <!-- .cd-full-width -->
            <div class="cd-half-width cd-img-container">
                <img src="~/Content/Images/Slider/slider_05.png" alt="tech 2">
            </div> <!-- .cd-half-width.cd-img-container -->
        </li>
    </ul>
    <!-- .cd-hero-slider -->
    <div class="cd-slider-nav">
        <div>
            <span class="cd-marker item-1"></span>

            <ul>
                <li class="selected"><a href="#0">Models</a></li>
                <li><a href="#0">Extras</a></li>
                <li><a href="#0">Oxy Os</a></li>
                <li><a href="#0">Dev</a></li>
                <li><a href="#0">Apps</a></li>
            </ul>
        </div>
    </div>
    <!-- .cd-slider-nav -->
</section> 
<!-- .cd-hero -->

