<!-- Models drop down -->
<ul id="models-dropdown" class="dropdown-content upper-case">
    <li><a href="@Url.Action("Round","Watch")" class="pink-text text-accent-2">Round</a></li>
    <li><a href="@Url.Action("Square","Watch")" class="pink-text text-accent-2">Squared</a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action("ComingSoon","Watch")" class="pink-text text-accent-2">Coming soon ...</a></li>
</ul>

<!-- OS drop down-->
<ul id="os-dropdown" class="dropdown-content upper-case">
    <li><a href="#" class="pink-text text-accent-2">Ux</a></li>
    <li><a href="#" class="pink-text text-accent-2">Theming</a></li>
    <li><a href="#" class="pink-text text-accent-2">Notifications</a></li>
    <li class="divider"></li>
    <li><a href="#" class="pink-text text-accent-2">Genymotion&copy;</a></li>
</ul>

<!-- Accessories drop down -->
<ul id="accessories-dropdown" class="dropdown-content upper-case">
    <li><a href="#" class="pink-text text-accent-2">Wristbands</a></li>
    <li><a href="#" class="pink-text text-accent-2">Protections</a></li>
    <li><a href="#" class="pink-text text-accent-2">Cases</a></li>
    <li class="divider"></li>
    <li><a href="#" class="pink-text text-accent-2">Special</a></li>
</ul>

<!-- DEV drop down -->
<ul id="dev-dropdown" class="dropdown-content upper-case">
    <li><a href="#" class="pink-text text-accent-2">SDK</a></li>
    <li><a href="#" class="pink-text text-accent-2">Developer Program</a></li>
    <li><a href="#" class="pink-text text-accent-2">Samples</a></li>
    <li><a href="#" class="pink-text text-accent-2">Downloads</a></li>
</ul>

<!-- main navigation bar -->
<div class="navbar-fixed" onload="setupDropDown();">
    <nav class="blue-grey" role="navigation">
        <div class="nav-wrapper">
            <a href="@Url.Action("Index","Home")" class="brand-logo left valign"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down upper-case">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="models-dropdown">
                        Models<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="os-dropdown">
                        Oxy Os<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="accessories-dropdown">
                        Accessories<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dev-dropdown">
                        Development<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
            <div class="right hide-on-med-and-down upper-case">
                <a href="#" class="btn btn-flat pink accent-2 waves-effect wave-light white-text">
                    <i class="small material-icons left">shopping_cart</i>Buy
                </a>
            </div>
        </div>
    </nav>
</div>
