<div class="">
    <div class="row">
        <div class="col s6 m4 l2">
            <img src="~/Content/Images/oxy_logo_150_grey.png" />
        </div>
        <div class="col s6 m4 l2">
            <h5 class="white-text upper-case">Models</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Round</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Squared</a></li>
            </ul>
        </div>
        <div class="col s6 m4 l2">
            <h5 class="white-text upper-case">Oxy OS</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">UX</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Theming</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Notifications</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Genymotion</a></li>
            </ul>
        </div>
        <div class="col s6 m4 l2">
            <h5 class="white-text upper-case">Accessories</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Wristbands</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Protections</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Cases</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Special</a></li>
            </ul>
        </div>
        <div class="col s6 m4 l2">
            <h5 class="white-text upper-case">Dev</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">SDK</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Development Program</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Samples</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Downloads</a></li>
            </ul>
        </div>
        <div class="col s6 m4 l2">
            <h5 class="white-text upper-case">Company</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">News & Press</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Jobs</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright blue-grey darken-2">
    <div class="container blue-grey darken-2">
        Powered by OXY Technologies ©2015. Code licensed under the Apache License, Version 2.0. Documentation licensed under CC BY 3.0.
    </div>
</div>
