
@{
    ViewBag.Title = "Welcome";
}

<!-- the product's slide -->
@Html.Partial("Slider")

<!-- header -->
<section>
    <div class="row">
        <h3 class="col s12 light center header">OXY&trade; provides high quality products and an innovative operating system</h3>
    </div>    
</section>

<!-- Promo -->
<section>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="center promo">
                <img src="~/Content/Images/Icons/lava-lamps.png" class="right-align" />
                <p class="promo-caption">
                    Two different versions
                </p>
                <p class="thin">
                    We know that everybody is different and everybody has a different taste, this is why we have decided to produce two
                    different OXY&trade; watch versions, one squared and one round. We have also created two different colors, dark and metal, in 
                    order to give you the best flexibility.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="center promo">
                <img src="~/Content/Images/Icons/bag-shoe.png" class="right-align" />
                <p class="promo-caption">
                    Accessories and decorations
                </p>
                <p class="thin">
                    The best thing of having a watch is the ability to customize it and make it unique. We have listen carefully to our customers
                    and we have created a unique set of luxury and sportive accessories to make your OXY&trade; product unique.
                </p>
                <p class="thin">
                    We have also created some special cases where you can store your OXY&trade; product and the accessories.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="center promo">
                <img src="~/Content/Images/Icons/checked-checklist-notepad.png" class="right-align" />
                <p class="promo-caption">
                    Open Source and ready for changes
                </p>
                <p class="thin">
                    First of all we are software developers and OXY&trade; is our dream platform. We have created an open platform where anybody
                    can join us and create new and uniques applications for any OXY&trade; device. We have established partnerships with the most
                    famous vendors in order to offer to our customers and partners the best development experience ever!
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col s12 m6 offset-m3 l4 offset-l4">
            <div class="center promo">
                <i class="material-icons light-green-text text-accent2">android</i>
                <p class="promo-caption">
                    Powered by Android&trade;
                </p>
                <p class="thin">
                    All OXY&trade; products are powered by Android&trade;. On top of that we have OXY&trade; Operating System, which is
                    a custom version of Android&trade; built on top of our specific hardware. With the combination of this two operating systems,
                    you can develop applications fast and easy without the need to learn anything new.
                </p>
            </div>
        </div>

    </div>
</section>

