
@{
    ViewBag.Title = "Round";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pink" style="margin-top:-20px;padding:30px 0;">
    <h3 class="center-align thin white-text">OXY&trade; your daily companion</h3>
    <h5 class="center-align thin white-text">OXY is the only SmartWatch capable to understand your needs and adapt to them</h5>
    <div class="center-align">
        <img src="~/Content/Images/round_slider_01.png" />
    </div>
    <div class="center-align">
        <h5 class="center-align thin white-text">Pre-order today for only <strong>199$</strong></h5>
        <p class="center-align white-text">You can get OXY Round today with a pre-order and be the first one</p>
    </div>
    <div class="center-align">
        <a href="#" class="btn btn-large white waves-effect wave-light pink-text">Pre-Order now
        </a>
    </div>
</section>
<section class="blue-grey lighten-2" style="margin-top:-20px;padding:30px 0;">
    <h3 class="center-align thin white-text">OXY&trade; features</h3>
    <h5 class="center-align thin white-text">We have crafted the best materials and the best hardware, just for you</h5>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="center promo">
                <img src="~/Content/Images/round_slider_02_a.png" class="right-align" />
                <p class="promo-caption  white-text">Watch Faces</p>
                <p class="thin white-text">
                    Build your own Watch Face or import an existing Android Wear&trade; watch face.
                    With our framework you can create three different Watch Faces: Raster, Canvas and Import.
                    There is no limit to the power of our OXY Operating System, plus we have also provided a set of the best available Watch faces
                    for you, for free.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="center promo">
                <img src="~/Content/Images/round_slider_02_b.png" class="right-align" />
                <p class="promo-caption white-text">Touch and Colorful</p>
                <p class="thin white-text">
                    OXY round has an AMOLED round display with a resolution of 400px x 400px and a total DPI of 271DPI.
                    With such a powerful display we can provide millions of color and high resolution, even on a small display.
                    We have also provided to OXY touch capabilities, this is why OXY does not have many buttons, you don't need them!
                </p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="center promo">
                <img src="~/Content/Images/round_slider_02_c.png" class="right-align" />
                <p class="promo-caption white-text">Thousands of Apps</p>
                <p class="thin white-text">
                    We are collaborating with multiple vendors in order to make OXY compatible with the most used applications available on the
                    market. Just to give you a few examples, with OXY you track your run, read e-mails, get Twitter and Facebook notifications,
                    receive phone calls, get maps directions and more ...
                </p>
            </div>
        </div>
    </div>
    <div class="center-align">
        <h5 class="center-align thin white-text">The limit is your imagination</h5>
        <p class="center-align white-text">
            OXY has been crafted to give you the best flexibility, you can choose your color theme, your font size and the amount of notifications 
            you want to receive. OXY will become soon your daily companion.
        </p>
    </div>
</section>
<section class="blue-grey darken-2" style="margin-top:-20px;padding:30px 0;">
    <h3 class="center-align thin white-text">No compromises</h3>
    <h5 class="center-align thin white-text">OXY works with iPhone, Android and Windows Phone</h5>
</section>
<section class="blue-grey darken-4" style="margin-top:-20px;padding:30px 0;">
    <h3 class="center-align thin white-text">Water resistant</h3>
    <h5 class="center-align thin white-text">
        With OXY you can take a shower or even go to the beach<br />
        no worries it is water resitant
    </h5>
</section>

